/* common style */
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.pri-button{
    background-color: orange;
    border-radius: 5px;
    padding: 10px 20px;
    color: aliceblue;
    font-size: 28px;
    font-weight: 320;
    border: none;
}
/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-size: 45px;
    font-weight:800;
}
.text-color-p{
  color: orange;
}
nav>ul{
    display: flex;
    align-items: center;   
}
nav li {
    list-style: none;
    margin: 10px;
}
nav a {
    text-decoration: none;
    font-size: 30px;
}
/* header style */
.header{
    background-color: bisque;
}
.banner{
    padding: 0px 30px 0px 150px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner .p-pic{
    padding-right:130px;
    width: 300px;
}

/* main section  */
.about{
    background-color: beige;
    margin: 100px 300px 0;
    padding: 40px 0;
}
.about .head{
    text-align: center;
}
.about .p{
    padding: 10px 20px;
    text-align: center;
}

.about-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.desc{
    margin-top: -10px;
}

 .skill-container{
    display: flex;
    text-align: center;
 }
 .skill-container .skill{
    background-color:burlywood;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid brown;
    padding: 12px 0 5px 5px ;
 }
 .edu {
     background-color: beige;
     margin: 100px 300px 0;
     padding: 1px 0;
 }
 .edu .head{
    text-align: center;
 }
 .edu-cont{
    display: flex;
    justify-content: space-around;
    margin: 30px 300px 0;
 }
 .edu-cont .edu1{
    margin-right: 20px;
    text-align: justify;
 }
 .dcv .pri-button{
      margin:10px 645px;
      margin-bottom: 40px;
 }
 footer{
    display: flex;
    background-color: bisque;
    padding: 100px 50px;
 }
 .foot>a{
    margin-right: 10px;
 }
.formin{
    padding: 15px 286px 15px 10px;
}

@media screen and (max-width:576px) {
    .skill-container{
         flex-direction: column;
    }
    .about{
        margin: 10px;
    }
    .edu-cont{
        flex-direction: column;
        margin: 10px;
    }
    .edu {
            background-color: beige;
            margin: 20px 50px ;
            padding: 1px 0;
         }
    footer{
        flex-direction: column;
        padding: 10px;
    }  
    .formin {
            padding: 10px 210px 10px 0 ;
        }
        .dcv .pri-button {
              margin: 0 auto;
              margin-bottom: 40px;
          }
    .about-container{
        flex-direction: column;
    }      
    .banner{
        flex-direction: column;
        padding: 10px 20px;
    } 
    .banner .p-pic{
        padding: 10px 20px ;
    }
    nav{
        flex-direction: column;
    }
    
    nav>ul {
            flex-direction: column;
            align-items: center;
        }
    .nav-title {
            font-size: 45px;
            font-weight: 800;
            margin: 0 auto;
        }
}